.pill
  border-radius: 32px
  padding: 0.3em 0.5em
  background-color: #ccc
  color: #ddd
  transition: all 150ms ease-in-out

  &.inactive
    background-color: gray

  &.active
    background-color: #467748

  &.cursorable
    cursor: pointer
